
# Bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
env/
venv/
.venv/
env-bak/
*~
# Distribution / packaging
build/
dist/
*.egg-info/
*.tar.gz
*.zip

# IDE specific files
.idea/
.project
.pydevproject.xml

# OS
.DS_Store
Thumbs.db

# swap files
.*.swp

# jupyter checkpoint
.ipynb_checkpoints
*checkpoint.ipynb

# latex
*.aux
*.bbl
*.blg
*.log
*.out
*.toc

mobo_linac_backup_20250828/
mobo_linac_backup_20260722/

results/
img/

00_mobo_linac_tasks_refactor/
01_mobo_linac_publication_tasks/

# Local binaries
bin/*
!bin/.gitkeep
